body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(assets/bg.png);
  background-size: cover; 
}

#container {
  width: 1000px;
  align-items: center;
  margin:auto;
}

#navBarEnd {
  margin-top:30px;
  margin-bottom: 10px;
}

#socialMedia {
  margin-left:22rem;
}

/* Social media buttons */

.smb {
  text-decoration: none;
  font-size:35px;
  margin:15px;
}

.smb a {
  color: #36374b;
}

.smb a:hover {
  color:#613942;
}

hr {
  color:#36374b;
}

#header {
  height:200px;
  margin:0;
  padding:0;
  width:100%;
  background-image: url(assets/cdBanner1.jpg); /* Banner image */
  background-size: cover;
}

#contentTitle {
  text-align: center;
  
}

.news {
  display:inline-block;
  width: 25%;
  text-align: center;
  margin-left:4%;
  margin-right: 4%;
  
}

.nsb {
  background-color: #36374b;
  
}

.copyright {
  font-family:'Montserrat';
  text-align: center;
  color:#36374b;
}

footer {
  display: block;
  height: 50px;
  width:100%;
  max-width: 1000px;
  background-color:rgba( 36, 37, 48, 0.2);
  margin-top: 35px;
}

footer p {
  padding: 15px;
  color: #36374b;
}

#slideShow {
  background-image: url(assets/testSlide_1.jpg); /* Starterpage slideshow pic */
  width:100%;
  height:500px;
  background-size: cover;
}

.avatarPic {
  width:300px;
  height:auto;
  margin:10px;
  float:left;
  border: 3px solid black;
}

h1 {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 50px;
  color: #36374b;
}

#container p {
  font-family: Montserrat;
  font-size: 20px;
  color: #36374b;
}

#container p:last-of-type {
  margin-bottom:35px;
}

