body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  margin-left: 8rem;
  align-items: center;
  width: 1000px;
}

#navBarEnd {
  margin-top:30px;
  margin-bottom: 10px;
}

#socialMedia {
  margin-left:22rem;
}

/* Social media buttons */

.smb {
  text-decoration: none;
  font-size:35px;
  margin:15px;
}

.smb a {
  color: #36374b;
}

.smb a:hover {
  color:#613942;
}

hr {
  color:#36374b;
}

#header {
  height:200px;
  margin:0;
  padding:0;
  width:100%;
  background-image: url(assets/cdBanner1.jpg); /* Banner image */
  background-size: cover;
}

.copyright {
  font-family:'Montserrat';
  text-align: center;
  color:#36374b;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  max-width: 1000px;
  background-color:rgba( 36, 37, 48, 0.2);
}

#slideShow {
  background-image: url(assets/testSlide_1.jpg); /* Starterpage slideshow pic */
  width:100%;
  height:500px;
  background-size: cover;
}