form {
  width:445px;
  padding:15px;
  background-color:rgba( 36, 37, 48, 0.2);
  border-radius: 5px;
}

.message {
  background-color: #36374b;
  color: #ffffff;
}

.message:hover {
  transition: 0.8s;
  background-color: #ffffff;
  color: #613942;
  border-radius: 25px;
}