/* Navigation button links */

#navBar a {
  text-decoration: none;
  color: #613942;
}

#navBar a:hover {
  color: #ffffff;
}

.textLink {
  text-decoration: none;
  color: #ffffff;
  background-color: #36374b;
  border-radius: 5px;
  padding:2px;
}

.textLink:hover {
  background-color: #613942;
}